<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>

    <section class="mt-20">
        <% if (students.length > 0) { %>
            <% students.slice().reverse().forEach((student)=> { %>
                <div class="flex justify-between items-center mx-auto px-10 py-2 max-w-4xl my-2 bg-slate-400">
                    <div>
                        <p>Name: <span class="font-bold"><%= student.name %></span></p>
                        <p>Regi. No.: 
                            <% if (student.registrationNumber) { %>
                                <span> <%= student.registrationNumber %> </span>
                            <% } else { %>
                                <span> Not Available </span>
                            <% } %>
                        </p>
                    </div>
                    <div class="flex justify-center items-start space-x-4">
                        <a href="/edit?studentId=<%= student._id %>" class="px-2 py-1 text-white bg-indigo-500">Edit</a>
                        <form action="/delete" method="POST">
                        <button type="submit" class="px-2 py-1 text-white bg-red-500">Delete</button>
                        <input type="hidden" name="studentId" value="<%= student._id %>">  
                        </form>
                    </div>
                </div>
            <% }) } else { %>
                <div class="max-w-4xl mx-auto text-center font-bold mt-20 text-lg text-red-500">
                    <p>Studentlist is Empty</p>
                </div>
            <%  } %>
    </section>

</body>
</html>